* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.ellipsis{
  overflow: hidden;        
  text-overflow: ellipsis; 
  white-space: nowrap;    
  }

.ellipsis1{
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.ellipsis2 {
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.ellipsis3 {
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}